
<div class="card text-dark">
	<div class="card-header  bg-success bg-gradient" style="color:balck;font-weight:bold;font-size:1.3em;">
  		Lista de Alocação
	</div>
	<div class="card-body" style="padding: 0% 1%;">
		<div class="row">
            <table class="table table-bordered 
            table-hover table-sm table-responsive-md" style="width:100%;">
                <thead>
                    <tr class="table-secondary" style="border-bottom: 2px solid #000;">
                        <td class="text-center">Editar</td>
                        <td class="text-center">Excluir</td>
                        <td>Nome</td>
                        <td>E-Mail</td>
                        <td>Endereço</td>
                        <td class="text-center">Sexo</td>
                        <td class="text-center">Ativo</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each dados}}
                        <tr>
                            <td class="text-center"><a href="#">Editar</a></td>
                            <td class="text-center"><a href="#">Excluir</a></td>
                            <td>{{{no_pessoa}}}</td>
                            <td>{{{no_email}}}</td>
                            <td>{{{endereco}}}</td>
                            <td class="text-center">{{{sexo}}}</td>
                            <td class="text-center">{{{ic_ativo}}}</td>
                        </tr>                        
                    {{/each}}                                        
                </tbody>               
            </table>
	  	</div>
	</div>
	<div class="card-footer text-muted bg-success bg-gradient">
        <div class="row">
            <div class="d-flex flex-row-reverse bd-highlight h5" 
                style="color: aliceblue;text-shadow:black 1px 1px 1px;">
                <div class="p-2 bd-highlight">Total de Registros: {{dados.length}}</div>
            </div>            
        </div>
	</div>
</div>  





